@import "tailwindcss";
@import "@nuxt/ui";

/*渲染content*/
@source "../../../content";

@theme static {
  --font-sans: 'Public Sans', sans-serif;

  --breakpoint-3xl: 1920px;
}

html, body, #app {
  margin: 0;
  padding: 0;
}

html.dark {
  background: #222;
  color: white;
}

a {
  color: var(--el-color-primary);
}